img#site-logo {
    width: 4rem;
}

img.profile-image {
    width: 15rem;
}

.loading {
    color: red;
}

section {
    padding: 0 10dvw;
}

div.col {
    border: 1px solid;
    margin: 1.25rem;
}

.overflow-x-auto {
    width: 225rem;
}

.invisibleButton {
    background: transparent;
    border: none;
}